{% extends 'bases/productbase.html' %}
{% load static %}
{% block content %}

  <main>
    <article>

      <!-- 
        - #BREADCUMB
      -->

      <div class="breadcumb-wrapper">

        <h2 class="page-title">Product Details</h2>

        <ol class="breadcumb-list">

          <li class="breadcumb-item">
            <a href="{% url 'index' %}" class="breadcumb-link">Home</a>
          </li>

          <li class="breadcumb-item">Product</li>

        </ol>

      </div>

      <!-- 
        - #PRODUCT DETAILS
      -->

      <section class="section product-details">
        <div class="container">

          <div class="wrapper">

            <div class="product-details-img">

              <figure class="product-display">
                <img src="{% static 'images/product-details-1.jpg' %}" width="700" height="700" loading="lazy"
                  alt="Non-starchy vegetables." class="w-100" data-product-display>
              </figure>

              <ul class="product-thumbnail-list has-scrollbar">

                <li class="product-thumbnail-item">
                  <img src="{% static 'images/product-details-1.jpg' %}" width="700" height="700" loading="lazy"
                    alt="Non-starchy vegetables." class="w-100" data-product-thumbnail>
                </li>

                <li class="product-thumbnail-item">
                  <img src="{% static 'images/product-details-2.jpg' %}" width="700" height="700" loading="lazy"
                    alt="Non-starchy vegetables." class="w-100" data-product-thumbnail>
                </li>

                <li class="product-thumbnail-item">
                  <img src="{% static 'images/product-details-3.jpg' %}" width="700" height="700" loading="lazy"
                    alt="Non-starchy vegetables." class="w-100" data-product-thumbnail>
                </li>

                <li class="product-thumbnail-item">
                  <img src="{% static 'images/product-details-2.jpg' %}" width="700" height="700" loading="lazy"
                    alt="Non-starchy vegetables." class="w-100" data-product-thumbnail>
                </li>

              </ul>

            </div>

            <div class="product-details-content">

              <h3 class="product-title">Non-starchy vegetables.</h3>

              <data class="product-price" value="350.00">350.00 INR</data>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>

              <p class="product-text">
                Fresh!!
              </p>

              <div class="product-weight-wrapper">

                <p class="product-weight-title">Weight :</p>

                <ul class="product-weight-list">

                  <li class="product-weight-item">
                    <input type="radio" name="weight" id="weight-1" class="product-weight-radio">

                    <label for="weight-1" class="product-weight-label">4L</label>
                  </li>

                  <li class="product-weight-item">
                    <input type="radio" name="weight" id="weight-2" class="product-weight-radio">

                    <label for="weight-2" class="product-weight-label">2L</label>
                  </li>

                  <li class="product-weight-item">
                    <input type="radio" name="weight" id="weight-3" class="product-weight-radio">

                    <label for="weight-3" class="product-weight-label">500ML</label>
                  </li>

                  <li class="product-weight-item">
                    <input type="radio" name="weight" id="weight-4" class="product-weight-radio">

                    <label for="weight-4" class="product-weight-label">200ML</label>
                  </li>

                </ul>

              </div>

              <div class="product-qty">
                <input type="number" name="quantity" value="1" min="1" max="50" class="product-qty-input">

                <button class="btn btn-primary product-qty-btn">Add To Cart</button>
              </div>

            </div>

          </div>

          <h4 class="description-title">Descripton :</h4>

          <p class="description-text">
           Fresh !!
          </p>

          <h4 class="description-title">Additional Information :</h4>

          <table class="description-table" border="1px">

            <tr class="table-row">
              <th class="table-heading" scope="row">Ratings</th>

              <td class="table-data">
                <div class="rating-wrapper">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-half"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </td>
            </tr>

            <tr class="table-row">
              <th class="table-heading" scope="row">Material Type</th>

              <td class="table-data">Pomagranate Fruit</td>
            </tr>

            <tr class="table-row">
              <th class="table-heading" scope="row">Weight</th>

              <td class="table-data">250 gm</td>
            </tr>

            <tr class="table-row">
              <th class="table-heading" scope="row">Seller</th>

              <td class="table-data">GroceryGo</td>
            </tr>

            <tr class="table-row">
              <th class="table-heading" scope="row">Size</th>

              <td class="table-data">6KG</td>
            </tr>

          </table>

        </div>
      </section>

    </article>
  </main>

  {% endblock content %}



  